@import 'helpers';

.lead {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: rem-calc(804);
  }

  &__image {
    margin-bottom: rem-calc(32);
    max-width: rem-calc(150);
    max-height: rem-calc(150);

    img {
      border-radius: 50% !important;
      border: 1px solid #5b0a5c4d;
      opacity: 0.1;
      background: $primary-500;
      mix-blend-mode: multiply;
    }
  }

  &__subheading {
    color: $aqua-purple-500;
    font-size: rem-calc(18);
    margin-bottom: rem-calc(11.5);

  }

  &__heading {
    margin-bottom: rem-calc(18);
  }

  &__text {
    max-width: rem-calc(550);
  }

}