// ----- COLOURS ----- //

$primary-800: #2e1835;
$primary-500:  #5b0a5c;
$primary-300:  #47324e;

$pink-400: #e5b5e7;
$pink-300: #f9c1ed;

$aqua-purple-500: #6253c0;
$aqua-purple-300: #a28dd2;
$aqua-purple-50: #ffffff;

$primary: $primary-500;
$secondary: $aqua-purple-500;

$white: #fff;
$black: #000;
$dark: $primary-800;
$light: $aqua-purple-50;
$body-background: $light;
$error: rgb(209, 53, 53);


// ----- CONTAINER WIDTHS ----- //

$container-sm: 640px;
$container-md: 890px;
$container-lg: 1024px;
$container-xl: 1280px;

// ----- SPACING ----- //

$spacing: 1rem;

// ----- FORMS ----- //

// $form-bg: $white;
// $form-border: $primary-300;
// $form-label: $aqua-purple-500;
// $form-placeholder: $grey-400;
// $form-radius: 8px;
// $form-focus-border: $primary-300;
// $form-focus-shadow: 0px 0px 0px 4px $primary-300, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);


// ----- TYPOGRAPHY ----- //

@mixin heading-display {
  font-size: rem-calc(48);
  font-weight: 600;
  @include breakpoint(medium) {
    font-size: rem-calc(60);
  }
}

@mixin heading-xl {
  font-size: rem-calc(36);
  font-weight: 600;
  line-height: rem-calc(44);
  @include breakpoint(medium) {
    font-size: rem-calc(48);
    line-height: rem-calc(44);
  }
}

@mixin heading-lg {
  font-size: rem-calc(32);
  font-weight: 600;
  line-height: rem-calc(38);
  @include breakpoint(medium) {
    font-size: rem-calc(36);
    line-height: rem-calc(44);
  }
}

@mixin heading-md {
  font-size: rem-calc(24);
  font-weight: 600;
  line-height: rem-calc(32);
  @include breakpoint(medium) {
    font-size: rem-calc(30);
    line-height: rem-calc(38);
  }
}

@mixin heading-sm {
  font-size: rem-calc(18);
  font-weight: 600;
  line-height: rem-calc(28);
  @include breakpoint(medium) {
    font-size: rem-calc(20);
    line-height: rem-calc(30);
  }
}

@mixin text-lg {
  font-size: rem-calc(18);
  font-weight: 400;
  line-height: rem-calc(28);
  @include breakpoint(medium) {
    font-size: rem-calc(20);
    line-height: rem-calc(30);
  }
}

@mixin text-md {
  font-size: rem-calc(16);
  font-weight: 400;
  line-height: rem-calc(24);
  @include breakpoint(medium) {
    font-size: rem-calc(18);
    line-height: rem-calc(28);
  }
}

@mixin text-sm {
  font-size: rem-calc(14);
  font-weight: 400;
  line-height: rem-calc(20);
  @include breakpoint(medium) {
    font-size: rem-calc(16);
    line-height: rem-calc(24);
  }
}
