@import 'helpers';

.text {
  position: relative;
  color: $primary-500;

  &--size-sm {
    @include text-sm;
  }

  &--size-md {
    @include text-md;
  }

  &--size-lg {
    @include text-lg;
  }

  &--color-light {
    color: $aqua-purple-300;
  }

  &--color-dark {
    color: $dark;
  }
}
