@import 'helpers';

.text {
  position: relative;
  color: $grey-600;

  &--size-sm {
    @include text-sm;
  }

  &--size-md {
    @include text-md;
  }

  &--size-lg {
    @include text-lg;
  }

  &--color-light {
    color: $grey-100;
  }

  &--color-dark {
    color: $dark;
  }
}
