@import 'helpers';

.list {
  position: relative;

  &__list {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    gap: 0.5rem;
    padding: 1rem 0;

    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
      justify-content: center;
      align-items: normal;
    }
  }

  &__item {
    color: $primary-300;
    cursor: pointer;
    border-bottom: 1px solid #ffc4f0;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;

    @include breakpoint(small) {
      padding: 2rem;
      height: max-content;
    }
  }

  &--active {
    .list__item {
      p {
        font-weight: bold;
        color: $primary-500;
      }
    }
  }

  a {
    color: $primary-500;
    text-decoration: none;
    font-size: rem-calc(16);
    color: $primary-500;
    opacity: 0.6;

    &:hover {
      color: $primary-500;
      opacity: 0.8;
    }
  }
}
