@import 'helpers';

.tabs {
  position: relative;
  background-color: #2E1835; 
  max-width: rem-calc(690);
  

  :global(button.Mui-selected) {
    color: white ;
  }

:global(.MuiTabs-scrollButtons){
  color: white;
}

  button {
    color: $aqua-purple-50;   
    // opacity: 0.5;
    margin: 0.25rem 1rem;
    transition: 0.15s ease-in-out;
    &:hover {
      color: $aqua-purple-300;
    }
  }

  :global(span.MuiTabs-indicator) {
    background-color: $primary;
  }




}