@import 'helpers';

.section {
    position: relative;
    display: flex;
    flex-direction: column;



    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    
    }
}