@import 'helpers';

.link {
  padding: rem-calc(5) rem-calc(15);
  border-radius: rem-calc(10);

  &:hover {
    background-color: rgb(222, 222, 222);
  }

  a {
    text-decoration: none;
    color: $dark;
    height: 100%;
    display: flex;
    align-items: center;
  }

  svg {
    width: rem-calc(12);
    margin-left: rem-calc(10);
    transform: rotate(180deg);
  }
}
