@import 'helpers';

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  &--size-sm {
    max-width: $container-sm;
  }

  &--size-md {
    max-width: $container-md;
  }

  &--size-lg {
    max-width: $container-lg;
  }

  &--size-xl {
    max-width: $container-xl;
  }

  &--gutters {
    padding: 0 2rem;
    @include breakpoint(small) {
      padding: 0 5rem;
    }
  }

  &--double-gutters {
    padding: 0 5rem;
  }

  &--background-Light {
    background-color: $aqua-purple-50;
  }

  &--background-white {
    background-color: $white;
  }

  &--background-Dark {
    // background: var(--gradient, linear-gradient(180deg, #F9C1ED 0%, #A38ED2 100%));
  }
}
